.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

h1,
h2,
h3 {
  border-bottom: 1px solid #eaecef;
  padding-bottom: .3em;
}

pre,
code {
  background: #f6f8fa;
  border-radius: 6px;
}